.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(223, 184, 197);
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 40px;
  margin-top: 5px;
}
#mongo {
  color: green;
}
#react {
  color: skyblue;
}
#add {
  color: white;
}
#read {
  color: blue;
}
#borrar {
  color: red;
}
.inputs {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  border-radius: 20px;
  padding-left: 10px;
  border-color: violet;
}
.inputs button {
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: palevioletred;
  color: white;
  font-size: large;
}
button:hover {
  cursor: pointer;
  color: black;
  background-color: violet;
}
.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.friend {
  width: 300px;
  height: 50px;
  background-color: violet;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  display: flex;
  border-radius: 5px;
}
.friend h3 {
  margin-left: 15px;
}
#edad {
  margin-left: 35px;
}
.friendContainer button {
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
#deleteBtn {
  background-color: red;
  color: white;
}
#deleteBtn:hover {
  background-color: white;
  color: red;
}
#update {
  background-color: blue;
  color: white;
}
#update:hover {
  background-color: white;
  color: blue;
}
